<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header>
      <div class="categories-header">
      <% if current_user %>
        <div class="mobile-menu">
            <%= image_tag("hamburger.png", :alt => "Menu", :class => "ham") %>
          <nav class="menu">
              <ul class="menu-ul">
                <li class="close-x">&#10006;</li>
                <li class="menu-name">
                  <i class="material-icons"></i>
                  <p><%= current_user.name %><?p>
                </li>
                <li class="menu-li"> 
                  <i class="material-icons"></i>
                  <%= link_to "Edit Account", edit_user_registration_path %>
                </li>
                <li class="menu-li"> 
                  <i class="material-icons"></i>
                  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
          </nav>
        </div>
        <% else %>
        <div class="logo">SmartSpend</div>
        <% end %>
  </div>
    </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
<script>
  function initMenu() {
    const ham = document.querySelector('.ham');
    const menu = document.querySelector('.menu');

    ham.addEventListener('click', () => {
      menu.classList.toggle('menu--open');
    });

    const closeMenuBtn = document.querySelector('.close-x');
    closeMenuBtn.classList.add("close-menu");

    closeMenuBtn.addEventListener("click", () => {
      menu.classList.toggle('menu--open');
    });
  }

  initMenu();
</script>

